<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <%= link_to attachments_path, class: "d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" do %>
    <span class="fs-4">Zipper</span>
  <% end %>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <%= link_to 'Lista plików', attachments_path, class: ['nav-link', ('active' if current_page?(attachments_path))] %>
    </li>
    <li class="nav-item">
      <%= link_to 'Dodaj plik', new_attachment_path, class: ['nav-link', ('active' if current_page?(new_attachment_path))] %>
    </li>
  </ul>
</header>
